
@{
    ViewData["Title"] = "Index";
}

<ol class="list-group">
    <li class="list-group-item">@Html.ActionLink("Przyklad 1", "Przyklad1")</li>
    <li class="list-group-item">@Html.ActionLink("Przyklad 2", "Przyklad2")</li>
    <li class="list-group-item">@Html.ActionLink("Przyklad 3", "Przyklad3")</li>
    <li class="list-group-item">@Html.ActionLink("Przyklad 4", "Przyklad4")</li>
</ol>

