@{
    ViewData["Title"] = "Home Page";
}

<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Zad 1", "Index", "Zad1")</li>
    <li class="list-group-item">@Html.ActionLink("Zad 2", "Index", "Zad2")</li>
    <li class="list-group-item">@Html.ActionLink("Zad 3", "Index", "Zad3")</li>
    <li class="list-group-item">@Html.ActionLink("Zad 4", "NewCar", "Zad4")</li>
</ul>