body
{
	margin-top:20vh;
}

#logo_img
{
	max-height: 40px;
	padding:3px;
}

.card_img
{
	max-width: 100%;
	max-height: 100%;
}

.news
{
	padding:5px;
}

.card_wrapper
{
	margin:3px;
	padding: 2px;
}

.card_mini
{
	max-width: 100%;
	height:340px;
}

.navbar-small
{
	min-height: 10vh;
}

.navbar-large
{
	height: 20vh;
}

.logo-text
{
	font-size: 40px;
}

.logo-img
{
	height: 60px;
	width:60px;
	margin:10px;
}