html
{
    height:100%;
}
body
{
    display:flex;
    flex-direction: column;
    height:100%;
}

header
{
    display:flex;
    flex: 0 0 auto;
    background-color:grey;
    border: solid 1px black;
}

ul
{
    display:flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li
{
    flex: 1 1 auto;
    padding:2px;
    border: solid 1px black;
    background-color:cyan;
    margin: 0px;
}

.mainsubmenu_wrapper
{
    display: flex;
    flex: 1 1 100%;
}

main
{
    flex: 1 1 70%;
    background-color: rgba(203, 241, 202, 0.808);
    padding: 10px;
}

aside
{
    flex: 1 1 15%;
}

aside nav
{
    height: 100%;
}

aside nav ul
{
    display:flex;
    flex-direction: column;
    height: 100%;
}

aside nav ul li
{
    flex: 1 1 auto;
}

footer
{
    flex: 0 0 auto;
    background-color: rgba(227, 230, 92, 0.808);
    padding: 10px;
}
